$light-3: #ebeef3;
$primary-main: #2a3958;
$input-form-completed: #b1b4bb;
$input-form-error: #ff4d4f;
$input-form_default: #d7d8da;
$light: #ffffff;
$dark: #0b101a;
$dark-3: #5a616a;
$table-bg: #eef0f4;
